<div class="container">
  <div class="hero-unit">
    <h1>New Page</h1>
    <form action="/api/pages" method="post">
      <textarea name="page-body">
        
      </textarea>
    </form>
  </div>
</div>