<div id="text-block-{{ _id }}" class="textBlock">
    <div class="control-group">
        <div>
            <label>name</label>
        </div>
        <input type="text" class="part-name" name="name" value="{{ name }}" />
    </div>
    <div class="control-group">
        <textarea type="text" class="part-body" name="body">{{ body }}</textarea>
    </div>
</div>
