<h4>New Page</h4>

<form class="v-jsNewPageForm">
    {{> form }}
    <div>
        <a href="#" class="btn v-jsCancelEditBtn">Cancel</a> 
        <button class="btn btn-primary v-jsCreatePageBtn">Create</button>
    </div>
</form>

{{# lambda }}
  {{ key }}
{{/ lambda }}